<a href="https://colab.research.google.com/github/DSF-Kotaro/blog/blob/main/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88_0004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第12回 みんなで学ぼう！Pythonによるデータサイエンス

In [1]:
import numpy as np
import pandas as pd

## 問題1

以下のファイルをPandasのデータフレームとして読み込み、すべてマージせよ。

* tbl_factory.csv
* tbl_warehouse.csv
* rel_cost.csv
* tbl_transaction.csv

なお重複するデータは、マージしたデータフレームから削除して良い。

In [2]:
tbl_factory = pd.read_csv('tbl_factory.csv',sep = ',',index_col=0)
tbl_warehouse = pd.read_csv('tbl_warehouse.csv',sep = ',',index_col=0)
rel_cost = pd.read_csv('rel_cost.csv',sep = ',')
tbl_transaction = pd.read_csv('tbl_transaction.csv',sep = ',',index_col=0)

In [3]:
tbl_factory

        FCName  FCDemand FCRegion
FCID
FC00001   東京工場        28       関東
FC00002  木更津工場        29       関東
FC00003   多摩工場        31       関東
FC00004  横須賀工場        25       関東
FC00005   仙台工場        21       東北
FC00006   山形工場        30       東北
FC00007   那須工場        25       東北
FC00008   青森工場        16       東北

In [4]:
tbl_warehouse

        WHName  WHSupply WHRegion
WHID
WH00001   杉並倉庫        35       関東
WH00002   品川倉庫        41       関東
WH00003   豊洲倉庫        42       関東
WH00004   郡山倉庫        60       東北
WH00005   仙台倉庫        72       東北
WH00006   山形倉庫        65       東北

In [5]:
rel_cost

    RCostID     FCID     WHID  Cost
0         1  FC00001  WH00001   0.4
1         2  FC00001  WH00002   0.8
2         3  FC00001  WH00003   1.5
3         4  FC00002  WH00001   0.9
4         5  FC00002  WH00002   0.8
5         6  FC00002  WH00003   1.6
6         7  FC00003  WH00001   1.2
7         8  FC00003  WH00002   1.3
8         9  FC00003  WH00003   1.5
9        10  FC00004  WH00001   0.8
10       11  FC00004  WH00002   1.0
11       12  FC00004  WH00003   1.1
12       13  FC00005  WH00004   0.8
13       14  FC00005  WH00005   0.3
14       15  FC00005  WH00006   1.4
15       16  FC00006  WH00004   0.9
16       17  FC00006  WH00005   1.1
17       18  FC00006  WH00006   0.7
18       19  FC00007  WH00004   0.9
19       20  FC00007  WH00005   1.2
20       21  FC00007  WH00006   1.3
21       22  FC00008  WH00004   1.5
22       23  FC00008  WH00005   1.2
23       24  FC00008  WH00006   1.3

In [6]:
tbl_transaction

          TransactionDate     ToFC   FromWH  Quantity
TRID
0     2019-01-01 02:11:10  FC00004  WH00003        33
1     2019-01-01 06:12:42  FC00007  WH00006        19
2     2019-01-01 06:32:32  FC00006  WH00004        31
3     2019-01-01 07:17:06  FC00002  WH00003        18
4     2019-01-01 07:52:18  FC00001  WH00002        30
...                   ...      ...      ...       ...
3995  2019-12-31 11:27:51  FC00007  WH00006        29
3996  2019-12-31 17:10:21  FC00002  WH00003        35
3997  2019-12-31 19:35:07  FC00003  WH00001        36
3998  2019-12-31 21:45:07  FC00005  WH00005        34
3999  2019-12-31 23:19:37  FC00005  WH00005        16

[4000 rows x 4 columns]

**マージする *斜体テキスト***

In [7]:
merge_data = pd.merge(tbl_transaction,rel_cost,left_on=["ToFC","FromWH"],right_on=["FCID","WHID"],how="left")
merge_data = pd.merge(merge_data,tbl_factory,left_on=["ToFC"],right_on=["FCID"],how="left")
merge_data = pd.merge(merge_data,tbl_warehouse,left_on=["FromWH"],right_on=["WHID"],how="left")
merge_data = merge_data[["TransactionDate","Quantity","Cost","ToFC","FCName","FCDemand","WHName","WHSupply","FCRegion","WHRegion"]]
merge_data

          TransactionDate  Quantity  Cost  ... WHSupply FCRegion  WHRegion
0     2019-01-01 02:11:10        33   1.1  ...       42       関東        関東
1     2019-01-01 06:12:42        19   1.3  ...       65       東北        東北
2     2019-01-01 06:32:32        31   0.9  ...       60       東北        東北
3     2019-01-01 07:17:06        18   1.6  ...       42       関東        関東
4     2019-01-01 07:52:18        30   0.8  ...       41       関東        関東
...                   ...       ...   ...  ...      ...      ...       ...
3995  2019-12-31 11:27:51        29   1.3  ...       65       東北        東北
3996  2019-12-31 17:10:21        35   1.6  ...       42       関東        関東
3997  2019-12-31 19:35:07        36   1.2  ...       35       関東        関東
3998  2019-12-31 21:45:07        34   0.3  ...       72       東北        東北
3999  2019-12-31 23:19:37        16   0.3  ...       72       東北        東北

[4000 rows x 10 columns]

## 問題2

地方ごとに`Cost`列の合計を求めよ。単位は「万円」とする。

In [8]:
kanto = merge_data.loc[merge_data["WHRegion"]=="関東"]
touhoku = merge_data.loc[merge_data["WHRegion"]=="東北"]
print("関東の総コスト：" + str(kanto["Cost"].sum()) + "万円")
print("東北の総コスト：" + str(touhoku["Cost"].sum()) + "万円")

関東の総コスト：2189.3万円
東北の総コスト：2062.0万円

## 問題3

地方ごとの輸送総数を求めよ。

In [10]:
print("関東の輸送数: " + str(kanto["Quantity"].sum()) + "個")
print("東北の輸送数: " + str(touhoku["Quantity"].sum()) + "個")

関東の輸送数: 49146個
東北の輸送数: 50214個

## 問題4

地方ごとの輸送品1つあたりの平均コストを求めよ。

In [11]:
tmp = (kanto["Cost"].sum() / kanto["Quantity"].sum()) * 10000
print("関東支社の部品１つ当たりの輸送コスト: " + str(int(tmp)) + "円")
tmp = (touhoku["Cost"].sum() / touhoku["Quantity"].sum()) * 10000
print("東北支社の部品１つ当たりの輸送コスト: " + str(int(tmp)) + "円")

関東支社の部品１つ当たりの輸送コスト: 445円
東北支社の部品１つ当たりの輸送コスト: 410円

## 問題5

地方ごとに1回あたりの平均輸送コストを求めよ。

In [14]:
cost_chk = pd.merge(rel_cost, tbl_factory, on="FCID", how="left")
print("東京支社の平均輸送コスト：" + str(cost_chk["Cost"].loc[cost_chk["FCRegion"]=="関東"].mean()) + "万円")
print("東北支社の平均輸送コスト：" + str(cost_chk["Cost"].loc[cost_chk["FCRegion"]=="東北"].mean()) + "万円")

東京支社の平均輸送コスト：1.075万円
東北支社の平均輸送コスト：1.05万円